/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Poppins:wght@400;500;600;700&family=Quicksand:wght@400;500;600&display=swap');

/* font-family: 'Baloo 2', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

/* ================================ OUTPUT EJS ==================================== */

body{
    background-image: url(../images/4.jpg);
    /* background-image: linear-gradient(to right bottom, rgba(21, 7, 52, .7), rgba(15, 37, 87, .8)), url(../images/bg_hero.jpg); */
    overflow-x: hidden;
    background-position: center;
    height: 100vh;
}

.header-content{
    margin: 50px auto 10px;
    text-align: center;
    display: inline-block;
}

.header-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.header-image{
    display: inline-block;
    margin: 0 20px;

}



