/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Poppins:wght@400;500;600;700&family=Quicksand:wght@400;500;600&display=swap');

/* font-family: 'Baloo 2', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */


/* ================================ STATIC HTML ==================================== */

body{
    background-image: url(../images/main-bg.svg);
    background-size: 100% 100%;
    background-size: cover;
    min-height: 1700px;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

header{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 150px 0 10px 100px;
}

.box-1{
    margin: 24px 110px;
}

.main-button1{
  background-color: transparent;
  border-radius: 16px;
  display: inline-block;
  font-family: 'Noto Sans SC', sans-serif; 
  font-size: 15px;
  font-weight: 550;
  letter-spacing: 0.6px; 
  margin-right: 18px;
  padding: 12px 30px;
  transition: all 0.3s;
}
.main-button1:hover{
  background-color: #fff;
  border-color: transparent;
  color: #181a1b;
}

.main-button2{
  background-color: #fff;
  border-radius: 16px;
  color: #181a1b;
  display: inline-block;
  font-family: 'Noto Sans SC', sans-serif; 
  font-size: 15px;
  font-weight: 550;
  letter-spacing: 0.6px; 
  margin-right: 12px;
  padding: 12px 30px;
  transition: all 0.3s;
}
.main-button2:hover{
  background-color: transparent;  /* ff7e28  */
  border: 1px solid #fff;
  color: #fff;

}


.box-2{
    margin-top: 450px;
}

.outer-box{
    margin: 0 80px ;
    background-color: #ffffff15;
    /* background: rgba(255,255,255, 0.4); */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 275px;
    width: 85%;
    z-index: 2;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

}

.box-2 div.right-content{
    padding: 30px 20px 20px 550px;
}

.right-content div.title{
    background-color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    width: 120px;
}

.right-content p.content{
    margin: 10px 3px;
}


/* ===================================================  Scroll Bar  =================================================== */

::-webkit-scrollbar {
  background-color: #909090;
    width: .45rem;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background-color: #464343;
    border-radius: 30px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 53, 53); 
  }
  
  ::-webkit-scrollbar-track {
    background: #909090;
  }













