/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Poppins:wght@400;500;600;700&family=Quicksand:wght@400;500;600&display=swap');

/* font-family: 'Baloo 2', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

/* #181a1b #0E141B*/
/* #ff7e28 */ 

/* background-image:  linear-gradient( to right bottom,rgba(22, 34, 57, 0.85), rgba(13,23,43,0.9)) ,url(../images/5.jpg);
 */
        
    /* color: #f5a425;        rgb(245, 164, 37)
    #ccc7c7             rgb(204, 199, 199)
    #252020             rgb(37, 32, 32)
    #d9d9d9             rgb(217, 217, 217)
    #303030             rgb(48, 48, 48)
    #0a1931             rgb(10, 25, 49)
    /* background-color: #d1f3ff;  
     */
/* font-family: 'Quicksand', sans-serif;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-image: linear-gradient(to right, #ff7e28 50%, #fff 50%);
background-size: 200% 50%;
background-position: 100%;
}
#home .profile h1.my-name:hover{
transition: all 0.9s cubic-bezier(0, 0, 0.23, 1);
background-position: 0%;
}
transition: 0.5s ease-in-out;
*/

/* ================================ INDEX HTML ==================================== */

body{
    background-image: url(../images/4.jpg);
    /* background-image: linear-gradient(to right bottom, rgba(21, 7, 52, .3), rgba(15, 37, 87, .2)), url(../images/4.jpg); */
    background-position: center;
    height: 100vh;
    overflow-x: hidden;
}

.main-section{
    margin: 3rem;
}

.form-section{
    text-align: center;
}

.main-text{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin: 4rem 0 2rem 0;
}

.main-section .lower-section input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #000;
    border-radius: 5px;
    color: #000;
    font-size: 20px;
    font-weight: 450;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 105%;
    padding: 5px 20px;
    width: 400px;
}

.main-section .lower-section input[placeholder], [placeholder], *[placeholder] {
    color: #000 !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    letter-spacing: 2.1px;
    padding-left: 25%;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #252020 !important;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #252020 !important;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #252020 !important;
}

.main-button {
    background-color: #000;
    border: solid 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: .6px;
    margin: 5px auto 20px;
    transition: all .3s;
}

.btn-ripple {
	display: inline-block;
	overflow: hidden;
	position: relative;
	transition: all ease-in-out .5s;
}

.btn-ripple::after {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	display: block;
	height: 100%;
	left: 25%;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: all ease-in-out 1s;
	transform: scale(5, 5);
	width: 50%;
}

.btn-ripple:active::after {
	margin: 0;
	opacity: .2;
	padding: 0;
	transform: scale(0, 0);
	transition: 0s;
}

/* .main-section .lower-section input:-webkit-autofill,
textarea:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 1000px #d1f3ff inset !important;
} */
  /* -webkit-text-fill-color:  !important;
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  */

/* .main-section .lower-section {
    margin-left: 30px;
    background-color:  rgba(250,250,250,0.1);
    padding: 60px 30px;
    border-radius: 20px;
} */


